@import '../shared/theming';

:host {
  display: block;
  outline: none;

  md-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >md-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

md-list-item {
  padding: 8px 0;

  .routeIcon {
    margin-right: 40px;
  }
}
