@import '../../shared/breakpoints';
@import '../../shared/theming';

.mat-form-field {
  width: 256px;
  margin-right: 16px;
}
md-select {
  width: 256px;
  margin-right: 16px;
}
#priceList {
  width: 256px;
  margin-bottom: 8px;
}
md-progress-spinner {
  margin: auto;
}
#errorMessage {
  background-color: mat-color($app-warn, 50);
  padding: 64px;
  width: 100%;
}
@include breakpoint($handset) {
  #priceList {
    width: 292px;
  }
  .mat-form-field,
  md-select {
    width: 167px;
  }
}
@include breakpoint($large-handset) {
  #priceList {
    margin-bottom: 0;
  }
}
