@import '../../shared/breakpoints';
@import '../../shared/theming';

.mat-form-field {
  width: 256px;
  margin-right: 16px;
}
md-select {
  width: 256px;
  margin-top: 17px;
  margin-right: 16px;
}
@include breakpoint($handset) {
  .mat-form-field,
  md-select {
    width: 167px;
  }
}
