<div class="container" fxLayout="row" fxLayoutWrap>
  <hfc-search-panel fxLayout="row" fxLayoutAlign="start center" fxFlex="100"
                    [title]="searchFormTitle" [expanded]="searchPanelExpanded">
    <hfc-brand-price-list-search-form #content (formData)="onFormData($event)">
    </hfc-brand-price-list-search-form>
  </hfc-search-panel>
  <hfc-grid tableName="brandPriceListGrid" [instanceService]="gridInstanceService" [isReadOnly]="true"
            [showRowDetail]="showRowDetail" [rowDetailColumns]="rowDetailColumns" [allowExport]="allowExport"
            [saveConfigOnSearch]="true" fxFlex="100">
  </hfc-grid>
</div>
