<label matDialogTitle>Select columns</label>

<mat-dialog-content *ngIf="!media.isActive('xs')">
  <div class="container" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
    <mat-list dense fxFlex="50">
      <ng-container *ngFor="let item of values; let i = index">
        <mat-list-item *ngIf="i % 2 == 0">
          <mat-checkbox color="primary" [checked]="item.isChecked" (click)="click(item)">
            {{item.name}}
          </mat-checkbox>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <mat-list dense fxFlex="50">
      <ng-container *ngFor="let item of values; let i = index">
        <mat-list-item *ngIf="i % 2 == 1">
          <mat-checkbox color="primary" [checked]="item.isChecked" (click)="click(item)">
            {{item.name}}
          </mat-checkbox>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="media.isActive('xs')">
  <mat-list class="container" dense>
    <mat-list-item *ngFor="let item of values">
       <mat-checkbox color="primary" [checked]="item.isChecked" (click)="click(item)">
         {{item.name}}
       </mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button color="accent" (click)="close()">OK</button>
</mat-dialog-actions>
