@import './shared/theming';

:host /deep/ {
  .mat-ink-bar {
    background-color: mat-color($app-primary);
  }
}

md-sidenav {
  width: 260px;
}
md-sidenav-container {
  background-color: $light-background !important;
  height: 100%;
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  #userName {
    flex: 1 1 0%;
    color: $light-text-color;
    font-size: 14px;

    md-icon {
      vertical-align: middle;
      padding-bottom: 4px;
      padding-left: 16px;
    }

    span {
      padding: 0 16px 8px 4px;
      text-transform: capitalize;
    }
  }

  @media (max-width: 600px) {
    height: 56px;
  }
}
#logoutButton {
  font-weight: 300;
  color: $light-background;
  align-self: flex-end;
}
md-nav-list {
  padding-top: 0;
}
